@font-face {
  font-family: "Inter UI";
  src: url("../fonts/InterWeb/Inter-Regular.woff2") format("woff2"), url("../fonts/InterWeb/Inter-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Inter UI";
  src: url("../fonts/InterWeb/Inter-Bold.woff2") format("woff2"), url("../fonts/InterWeb/Inter-Bold.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Editorial New";
  src: url("../fonts/Editorial New/EditorialNew-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Editorial New";
  src: url("../fonts/Editorial New/EditorialNew-Ultrabold.otf") format("opentype");
  font-weight: 600;
}
html {
  font-family: "Editorial New", serif;
  font-weight: 400;
  color: white;
  font-size: 100%;
}
html ::-moz-selection {
  background: #fff;
  color: #000;
}
html ::selection {
  background: #fff;
  color: #000;
}

article {
  font-family: "Inter UI", sans-serif;
  font-size: 1.5em;
}

a {
  color: white;
  text-decoration: none;
  letter-spacing: -1px;
  font-family: "Inter UI", sans-serif;
  text-transform: uppercase;
}

body {
  font-family: "Editorial New", serif;
  font-weight: 400;
  line-height: 1.65;
}

p {
  font-family: "Inter UI", sans-serif;
  margin-bottom: 1.15rem;
}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: "Editorial New", serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 4.209em;
}

h2 {
  font-size: 3.998em;
}

h3 {
  font-size: 2.827em;
}

h4 {
  font-size: 1.999em;
}

h5 {
  font-size: 1.414em;
}

h6 {
  font-family: "Inter UI", sans-serif;
  text-transform: uppercase;
}

small, .text_small {
  font-size: 0.75em;
}

footer ::-moz-selection {
  background: red;
  color: #fff;
}
footer ::selection {
  background: #000;
  color: #fff;
}

.base-container {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin: 5rem auto;
  box-sizing: border-box;
}
.base-container h1 {
  margin: 0;
}

@media (min-width: 768px) {
  .base-container {
    grid-template-columns: repeat(2, minmax(320px, 1fr));
  }
}
.nav-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 95%;
  min-height: 10vh;
  padding-top: 5vh;
  margin-left: auto;
  margin-right: auto;
}
.nav-wrapper svg {
  max-height: 50px;
}

.logo-wrapper:hover {
  background-size: 0px;
}

.links-wrapper {
  justify-self: end;
  display: flex;
  align-items: center;
}
.links-wrapper a {
  padding: 12px;
}

.burger-icon {
  display: none;
  justify-items: end;
  align-content: center;
}

@media (max-width: 375px) {
  .burger-icon {
    display: grid;
  }

  .links-wrapper {
    display: none;
  }
}
.hero {
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-top: 15vmax;
  margin-bottom: 5vmax;
}
.hero h1 {
  font-size: calc(3.36vw + 1rem);
}

.projects-wrapper {
  gap: 1em;
}

.card-wrapper {
  width: 100%;
  text-transform: none;
}
.card-wrapper:hover {
  background-size: 0;
}

.card {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

@media (max-width: 375px) {
  .card {
    height: 400px;
  }
}
.content {
  width: 50%;
  padding: 1em;
  box-sizing: border-box;
  text-transform: none;
}

.project-1 {
  background-image: url(../img/projects/thumbnails/tgc-thumbnail.jpg);
}

.project-2 {
  background-image: url(../img/projects/thumbnails/karos-thumbnail.png);
}

.thumbnail {
  display: grid;
  align-items: center;
  background-color: #FFD200;
  padding: 2rem;
  color: black;
}
.thumbnail button {
  color: black;
  border-color: black;
}

.more-work {
  width: 50%;
  background-image: url(https://assets.squarespace.com/universal/images-v6/configuration/placeholder/3x4-image-6-half-color.jpg);
}

footer {
  width: 100%;
  padding: 2rem;
  color: #fff;
}
.footer-wrapper {
  display: flex;
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
}

.sub-page-hero h1 {
  margin: 0;
}

.project-hero img {
  grid-column-start: 1;
  grid-column-end: 3;
}

.project-copy {
  width: 50%;
  margin: 5rem auto;
}

.layout-1 {
  gap: 1rem;
}

.two-columns {
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}
.two-columns img {
  width: 100%;
}

@media (max-width: 375px) {
  .project-copy {
    width: 100%;
    padding: 18px;
  }
}
* {
  box-sizing: border-box;
}

a {
  transition: color 0.5s ease-in-out;
}
a:hover {
  background-repeat: repeat-x;
  background-image: linear-gradient(to right, #fff 100%, #fff 0);
  background-size: 1px 1px;
  background-position: 0 100%;
  white-space: initial;
  cursor: pointer !important;
}

html {
  background-color: #000000;
  scroll-behavior: smooth;
}

img {
  width: 100% !important;
}

.button {
  background-color: transparent;
  color: #000;
  padding: 0.6rem 2rem;
  border: 1px solid #000;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  border-color: white;
  background-color: white;
}

/*# sourceMappingURL=main.css.map */
