$primary-color: #333;
$secondary-color: #333;
$cta-color: #333;
$background-color: #000000;

html {
  background-color: $background-color;
  scroll-behavior: smooth;
}

button {
  padding: 32px;
  background-color: transparent;
  color: #FFD200;
  font-family: inherit;
  padding: 0.6rem 2rem;
  border: 1px solid #FFD200;
  // border-radius: 2px;
  font-family: 'inter UI';
  transition: all 0.2s ease-in-out;
  &:hover { border-color: white; background-color: white; }
}
