// mixins

@mixin margin-auto {
  margin-left: auto;
  margin-right: auto;
}

@mixin margin-center-100 {
  margin: 5rem auto;
}


.base-container {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  @include margin-center-100;
  box-sizing: border-box;
  h1 { margin: 0; }
}

@media (min-width: 768px) {
  .base-container {
    grid-template-columns: repeat(2, minmax(320px, 1fr));
    }
  }


// Hero Section
.hero {
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-top: 15vmax;
  h1 { font-size: calc(3.36vw + 1rem) }
  margin-bottom: 5vmax;
}

// Works

.projects-wrapper {
  gap: 1em;
}

.card-wrapper {
  width: 100%;
  text-transform: none;
  &:hover { background-size: 0; }
}

.card {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

@media (max-width: 375px) {
    .card {
      height: 400px;
    }
  }

.content {
  width: 50%;
  padding: 1em;
  box-sizing: border-box;
  text-transform: none;
}

.project-1 { background-image: url(../img/projects/thumbnails/tgc-thumbnail.jpg); }

.project-2 { background-image: url(../img/projects/thumbnails/karos-thumbnail.png); }

.project-3 { background-image: url(../img/projects/thumbnails/lea-spa-thumbnail.jpg); }

.thumbnail {
  display: grid;
  align-items: center;
  background-color: #F57A01;
  padding: 2rem;
  color: black;
  button { color: black; border-color: black; }
}

.more-work {
  width: 50%;
  background-image: url(https://assets.squarespace.com/universal/images-v6/configuration/placeholder/3x4-image-6-half-color.jpg);
}

footer {
  width: 100%;
  padding: 2rem;
  // background-color: #000;
  color: #fff;
  // g { fill: black; }
  svg {  }
}

.footer-wrapper {
  display: flex;
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
}

.sub-page-hero {
  h1 { margin: 0; }
}

// Project Page

.project-hero {
  img { grid-column-start: 1; grid-column-end: 3; }
}

.project-copy {
  width: 50%;
  @include margin-center-100;
}

.layout-1 {
  gap: 1rem;
}

.two-columns {
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  img { width: 100%; }
}

@media (max-width: 375px) {
  .project-copy {
    width: 100%;
    padding: 18px;

    }
  }
